<!DOCTYPE html>
<html>
<head>
    <title>VisualizarDetalles</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css">
    <style>

        h1 {
            margin: 15px;
            font-family: Arial, sans-serif;
        }

        a {
            margin: 20px;
            font-family: Arial, sans-serif;
        }

    </style>
</head>
<body>
    <h1 class="roboto">Detalles</h1>
    <div class="container">
        <div class="columns">
            <div class="column is-12">
                <div class="table-container">
                    <table class="table is-striped is-hoverable is is-fullwidth" id="myTable">
                    
                    <tbody>
                        <tr><td>Id:</td><td>{{ registros.registro }} </td></tr>
                        <tr><td>Llave:</td><td>{{ registros.llave }} </td></tr>
                        <tr><td>Fecha:</td><td>{{ registros.fecha }} </td></tr> 
                        <tr><td>Recepcion:</td><td>{{ registros.recepcion }} </td></tr> 
                        <tr><td>Causa (Rechazo):</td><td>{{ registros.causarechazo}} </td></tr> 
                        <tr><td>Porcentaje:</td><td>{{registros.porcentaje}} </td></tr> 
                        <tr><td>Status:</td><td>{{ registros.status2 }} </td></tr>
                        <tr><td>Observaciones:</td><td>{{registros.observaciones}} </td></tr>
                        <tr><td>Creado:</td><td>{{ registros.created }} </td></tr> 
                        <tr><td>Modificado:</td><td>{{ registros.updated_at }} </td></tr>  
                        <tr><td><a href="{% url 'ccalidad_update' registros.pk %}">Edit</a></td><td><a href="{% url 'ccalidad_update' registros.pk %}">Delete</a></td></tr> 
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <a href="{% url 'ccalidad_list' %}">Regresar a Panel</a>

    
    
</body>
</html>