<script>
    $(document).ready(function() {
        console.log("Página cargada");
    
        // Función para cargar contenedores
        function loadProducts() {
            console.log("Cargando contenedores...");
            $.ajax({
                url: '{% url "load_contenedores" %}',  // URL para la vista AJAX
                data: {
                    'category_id': 'Consulta' // Envia el ID de la categoría como parámetro
                },
                success: function(data) {
                    console.log("Datos recibidos:", data);
    
                    // Limpia las opciones actuales del campo 'select'
                    $('#Conten').html('');
                    $('#Conten').append(
                        $('<option>').text('Seleccione un contenedor').attr('value', '')
                    );
    
                    // Recorre los productos recibidos y añade opciones al campo 'select'
                    $.each(data.adicionales, function(index, product) {
                        $('#Conten').append(
                            $('<option>').text(product.contenedor.toString()).attr('value', product.contenedor.toString())
                        );
                    });
    
                },
                error: function(xhr, status, error) {
                    console.error('Error:', error);  // Maneja errores de la solicitud
                }
            });
        }
    
        // Llamar a la función de carga de contenedores
        loadProducts();
    });
    </script>
    