<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Gráfica de Kilos por Área</title>
</head>
<body>
    <select id="finca-select">
            {% for finca in fincas %}
                <option value="{{ finca }}">{{ finca }}</option>
            {% endfor %}
        </select>
        <select id="orden-select">
            {% for orden in ordenes %}
                <option value="{{ orden }}">{{ orden }}</option>
            {% endfor %}
        </select>

        
</body>
</html>
