<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Gráfica de Kilos por Área</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <select id="finca-select">
        {% for finca in fincas %}
            <option value="{{ finca }}">{{ finca }}</option>
        {% endfor %}
    </select>
    <select id="orden-select">
        {% for orden in ordenes %}
            <option value="{{ orden }}">{{ orden }}</option>
        {% endfor %}
    </select>
    <canvas id="myChart"></canvas>

    <script>
        const ctx = document.getElementById('myChart').getContext('2d');
        let myChart;

        const updateChart = (finca, orden) => {
            fetch(`/obtener_datos_filtrados/?finca=${finca}&orden=${orden}`)
                .then(response => response.json())
                .then(data => {
                    const semanas = data.map(item => item.semana);
                    const kilos_por_area = data.map(item => item.kilos_por_area);

                    if (myChart) {
                        myChart.destroy();
                    }

                    myChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: semanas,
                            datasets: [{
                                label: 'Kilos por Área',
                                data: kilos_por_area,
                                borderColor: 'rgba(75, 192, 192, 1)',
                                borderWidth: 2,
                            }]
                        },
                    });
                });
        };

        document.getElementById('finca-select').addEventListener('change', (event) => {
            const finca = event.target.value;
            const orden = document.getElementById('orden-select').value;
            updateChart(finca, orden);
        });

        document.getElementById('orden-select').addEventListener('change', (event) => {
            const orden = event.target.value;
            const finca = document.getElementById('finca-select').value;
            updateChart(finca, orden);
        });

        document.addEventListener('DOMContentLoaded', () => {
            const finca = document.getElementById('finca-select').value;
            const orden = document.getElementById('orden-select').value;
            updateChart(finca, orden);
        });
    </script>
</body>
</html>
