<!DOCTYPE html>
<html>
<head>
    <title>Confirm Delete</title>
    <style>
        h1 {
            margin: 15px;
            font-family: Arial, sans-serif;
        }

        a {
            margin: 20px;
            font-family: Arial, sans-serif;
        }

    </style>
</head>

<body>
    
    <h1>¿Está seguro de eliminar "{{ registros.title }}"?</h1>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Confirmar</button>
    </form>
    <a href="{% url 'salidasFruta_list' %}">Cancelar</a>

</body>

</html>