<!DOCTYPE html>
<html>
<head>
    <title>Registro Form</title>
</head>
<body>
    <h1>{{ form.instance.pk|yesno:"Edit Registro,Create Registro" }}</h1>
    <form method="post" id = "formFruta">
        {% csrf_token %}
        {% if user.username == 'brandon.portillo@popoyan.com.gt'%}
        {% else %}
        {% endif %}
        {{ form.as_p }}

        <button type="submit">Save</button>
    </form>
    <a href="{% url 'salidasFruta_list' %}">Back to list</a>

</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#id_category').change(function() {
            var categoryId = $(this).val();
            $.ajax({
                url: '{% url "load_products" %}',
                data: {
                    'category_id': categoryId
                },
                success: function(data) {
                    $('#id_name').html('');
                    $.each(data.products, function(index, product) {
                        $('#id_name').append(
                            $('<option>').text(product.name).attr('value', product.id)
                        );
                    });
                }
            });
        });
    });
</script>
</html>