<!DOCTYPE HTML>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{% block style %} Agropecuaria Popoyán {% end block %}</title>
</head>
<body>
    <h1>Semillas del Campo, S.A.</h1>
    <p>Parrafo 1.</p>
    <p>Parrafo 2.</p>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        console.log("Esto es un log");
    </script>
</body>
</html>