{% extends "mantenimiento/crud_form_base.html" %}


{% block title %}

{% if modo == "actualizar" %}
Actualización de especificaciones
{% else %}
Nueva especificación
{% endif %}

{% endblock %}


{% block encabezado %}

{% if modo == "actualizar" %}
Actualización de especificaciones
{% else %}
Nueva especificación
{% endif %}

{% endblock %}


{% block descripcion %}

{% if modo == "actualizar" %}
Modifica la información de las especificaciones de la máquina.
{% else %}
Completa la información para registrar las especificaciones de la máquina.
{% endif %}

{% endblock %}


{% block campos %}
<!-- MÁQUINA -->
<div class="form-field">
    <label for="{{ form.maquina.id_for_label }}">
        Máquina
    </label>

    {{ form.maquina }}

</div>

<!-- UBICACIÓN -->
<div class="form-field">
    <label for="{{ form.ubicacion.id_for_label }}">
        Ubicación
    </label>

    {{ form.ubicacion }}

</div>

<!-- SERIE -->
<div class="form-field">
    <label for="{{ form.serie.id_for_label }}">
        Número de serie
    </label>

    {{ form.serie }}

</div>

<!-- FECHA DE COMPRA -->
<div class="form-field">
    <label for="{{ form.fecha_compra.id_for_label }}">
        Fecha de compra
    </label>

    {{ form.fecha_compra }}

</div>

<!-- CENTRO DE COSTO -->

<div class="form-field">

    <label for="{{ form.nombre.id_for_label }}">
        Centro de Costo
    </label>

    {{ form.centrodecosto }}

</div>

<!-- STATUS -->

<div class="form-field">

    <label for="{{ form.status.id_for_label }}">
        Estado
    </label>

    {{ form.status }}

</div>

{% endblock %}


{% block boton_regresar %}

<a href="{% url 'distribucionmaquinas_list' %}" class="btn btn-secondary">
    ← Regresar
</a>

{% endblock %}