<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Lecturas Aranet</title>
</head>
<body>
<h1>Lecturas Aranet</h1>
<table border="1" id="aranet-table">
  <tr>
    <th>Sensor</th>
    <th>Timestamp</th>
    <th>CO2</th>
    <th>Temperature</th>
    <th>Humidity</th>
  </tr>
  {% for r in readings %}
  <tr>
    <td>{{ r.sensor }}</td>
    <td>{{ r.timestamp }}</td>
    <td>{{ r.co2 }}</td>
    <td>{{ r.temperature }}</td>
    <td>{{ r.humidity }}</td>
  </tr>
  {% endfor %}
</table>

<script>
function fetchData() {
  fetch('/iotappweb/aranet-data-json/')
    .then(res => res.json())
    .then(data => {
      console.log(data);
      // actualizar tabla si quieres
    })
    .catch(err => console.error("Error:", err));
}

setInterval(fetchData, 2000);
</script>
</body>
</html>