<!DOCTYPE html>
<html lang="es">
{% load static %}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Registro de riegos</title>

    <!-- CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" />

    <style>
        .table-custom-header th {
            background: linear-gradient(to right, #6c757d, #495057);
            color: white;
            font-weight: 600;
            text-align: center;
            white-space: nowrap;
        }

        @media (max-width: 768px) {

            .table td,
            .table th {
                font-size: 13px;
                white-space: nowrap;
            }

            .btn {
                font-size: 13px;
            }
        }

        .card-text strong {
            display: inline-block;
            width: 100px;
        }
    </style>

    <style>
        .accordion-button {
            background-color: #ffffff;
            transition: all 0.3s ease;
        }

        .accordion-button:hover {
            background-color: #f8f9fa;
        }

        .accordion-button:not(.collapsed) {
            background: linear-gradient(90deg, #198754, #20c997);
            color: white;
        }

        .accordion-button:not(.collapsed) .rotate-icon {
            transform: rotate(180deg);
            transition: transform 0.3s ease;
        }

        .rotate-icon {
            transition: transform 0.3s ease;
        }

        .accordion-body {
            border-top: 3px solid #198754;
        }
    </style>
</head>

<body>
    <div class="container py-3">

        <div class="d-flex flex-wrap gap-2 mb-4 justify-content-between">

            <a href="{% url 'salidasFruta_aprovechamietos' %}" class="btn btn-success flex-fill text-center">
                <i class="fas fa-chart-line"></i> Tanque y riego
            </a>

            <a href="{% url 'salidasFruta_poraprovechamietosemp' %}" class="btn btn-success flex-fill text-center">
                <i class="fas fa-chart-line"></i> Plantas
            </a>

        </div>

        <!-- Tabla para escritorio -->
        <div class="table-responsive d-none d-md-block">
            <table class="table table-striped table-bordered" id="myTable" style="min-width: 1100px;">
                <thead class="table-custom-header">
                    <tr>
                        <th>Registro</th>
                        <th>Fecha</th>
                        <th>Zona</th>
                        <th>Accion</th>
                        <th>Tiempo</th>
                        <th>PlantaReg</th>
                        <th>TanqueReg</th>
                        <th>Modo</th>
                    </tr>
                </thead>
                <tbody class="accordion" id="riegoAccordion">
                    {% for registro in riegos %}
                    <tr class="accordion-item border-0">

                        <td colspan="8" class="p-0">
                            <div class="accordion-header" id="heading{{ registro.registro }}">
                                <button class="accordion-button collapsed shadow-sm" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapse{{ registro.registro }}"
                                    aria-expanded="false" aria-controls="collapse{{ registro.registro }}">

                                    <div class="container-fluid">
                                        <div class="row w-100 text-center align-items-center">

                                            <div class="col-md-1">
                                                <strong>#{{ registro.registro }}</strong>
                                            </div>

                                            <div class="col-md-2">
                                                {{ registro.fecha|date:"d/m/Y H:i" }}
                                            </div>

                                            <div class="col-md-1">
                                                Zona {{ registro.zona }}
                                            </div>

                                            <div class="col-md-1">
                                                {% if registro.accion == "ON" %}
                                                <span class="badge bg-success">ON</span>
                                                {% else %}
                                                <span class="badge bg-danger">OFF</span>
                                                {% endif %}
                                            </div>

                                            <div class="col-md-2">
                                                {{ registro.tiempo_segundos }} s
                                            </div>

                                           

                                            <div class="col-md-3 text-end text-muted">
                                                <i class="fas fa-chevron-down rotate-icon"></i>
                                            </div>
                                             <div class="col-md-2">
                                                {% if registro.modo == "AUTO" %}
                                                <span class="badge bg-primary">AUTO</span>
                                                {% else %}
                                                <span class="badge bg-warning text-dark">MANUAL</span>
                                                {% endif %}
                                            </div>

                                        </div>
                                    </div>

                                </button>
                            </div>

                            <div id="collapse{{ registro.registro }}" class="accordion-collapse collapse"
                                data-bs-parent="#riegoAccordion">

                                <div class="accordion-body bg-light">

                                    <div class="row">

                                        {% if registro.planta_reg %}
                                        <div class="col-md-6 border-end">
                                            <h6 class="text-success">
                                                <i class="fas fa-leaf"></i> Sensor Planta
                                            </h6>
                                            <ul class="list-unstyled">
                                                <li><strong>ID:</strong> {{ registro.planta_reg.planta_id }}</li>
                                                <li>Temp: {{ registro.planta_reg.temperatura }} °C</li>
                                                <li>Hum Aire: {{ registro.planta_reg.humedad_aire }} %</li>
                                                <li>Hum Suelo: {{ registro.planta_reg.humedad_suelo }} %</li>
                                                <li>Peso: {{ registro.planta_reg.peso }} kg</li>
                                            </ul>
                                        </div>
                                        {% endif %}

                                        {% if registro.tanque_reg %}
                                        <div class="col-md-6">
                                            <h6 class="text-primary">
                                                <i class="fas fa-water"></i> Sensor Tanque
                                            </h6>
                                            <ul class="list-unstyled">
                                                <li><strong>ID:</strong> {{ registro.tanque_reg.tanque_id }}</li>
                                                <li>Temp Agua: {{ registro.tanque_reg.temperatura }} °C</li>
                                                <li>Caudal: {{ registro.tanque_reg.caudal }} L/min</li>
                                                <li>Llenado: {{ registro.tanque_reg.porcentaje_llenado }} %</li>
                                                <li>Nivel: {{ registro.tanque_reg.nivel }} cm</li>
                                            </ul>
                                        </div>
                                        {% endif %}

                                    </div>

                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                responsive: true,
                autoWidth: false,
                language: {
                    url: "//cdn.datatables.net/plug-ins/1.13.4/i18n/es-ES.json"
                }
            });

            // Formato de números con separador de miles
            document.querySelectorAll(".number-cell").forEach(cell => {
                const value = parseFloat(cell.getAttribute("data-value"));
                if (!isNaN(value)) {
                    cell.textContent = value.toLocaleString("es-ES", { maximumFractionDigits: 0 });
                }
            });
        });

        // CLICK PLANTA
        $(document).on("click", ".planta-link", function (e) {
            e.preventDefault();
            let id = $(this).data("id");

            $.get("/planta/" + id + "/", function (data) {
                $("#modalContent").html(`
            <strong>Planta:</strong> ${data.planta_id}<br>
            <strong>Fecha:</strong> ${data.timestamp}<br>
            <strong>Temp:</strong> ${data.temperatura} °C<br>
            <strong>Humedad Aire:</strong> ${data.humedad_aire}%<br>
            <strong>Humedad Suelo:</strong> ${data.humedad_suelo}%<br>
            <strong>Peso:</strong> ${data.peso} kg
        `);
                new bootstrap.Modal(document.getElementById('sensorModal')).show();
            });
        });

        // CLICK TANQUE
        $(document).on("click", ".tanque-link", function (e) {
            e.preventDefault();
            let id = $(this).data("id");

            $.get("/tanque/" + id + "/", function (data) {
                $("#modalContent").html(`
            <strong>Tanque:</strong> ${data.tanque_id}<br>
            <strong>Fecha:</strong> ${data.timestamp}<br>
            <strong>Temp Agua:</strong> ${data.temperatura} °C<br>
            <strong>Caudal:</strong> ${data.caudal} L/min<br>
            <strong>Llenado:</strong> ${data.porcentaje_llenado}%<br>
            <strong>Nivel:</strong> ${data.nivel} cm
        `);
                new bootstrap.Modal(document.getElementById('sensorModal')).show();
            });
        });
    </script>
</body>

</html>