<!DOCTYPE html>
<html>
{% block style %}{% endblock %}
<head>
    <meta charset="UTF-8">
    <meta name= "viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 

    <title> {% block title %} Agropecuaria Popoyán, S.A. {% endblock %} </title>
    <style>
    
    .text-left {
        text-align: left;
    }

    .footer {
            background-color: #f5f5f5;
            padding: 1.5rem 0;
        }

    .texto-con-margen {
        margin: 20px; /* Aplica un margen de 20px alrededor del párrafo */
    }

    .text-right {
        text-align: right; /* Alinea el texto a la derecha */
        padding-right: 20px; /* Agrega espacio interno a la derecha */
        width: 100%; /* Ancho del contenedor para ver el efecto del margen */
    }

    .dropdown-content {
        margin-left: 20px;
        border-radius: 8px;
    }
    .dropdown-item:hover {
        background-color: #f5f5f5;
    }
    /* Ocultar submenús por defecto */
    .navbar-dropdown {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        background-color: white;
    }

    /* Mostrar submenú cuando el ítem está activo */
    .navbar-item.has-dropdown.is-active .navbar-dropdown {
        display: block;
    }

    .navbar-menu.is-active {
        display: block;
        flex-direction: column;
    }
    
    </style>
</head>

<body>
    <h1> {% block enc %} Semillas del Campo, S.A. {% endblock %} </h1>
    {% if user.is_authenticated %}
        <div class="text-right">
            <br>
            <p>Bienvenido, <b>{{user.username}} | <a href="{% url 'logout'%}">Logaut</a></b></p>
            <br>
        </div>
        
        <nav class="navbar is-link">

            <div class="navbar-brand">
                <a class="navbar-item" href="#">
                    <strong>Mi Sitio</strong>
                </a>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
    
            <div id="navbarMenu" class="navbar-menu">
                <div class="navbar-start">
                    
                    <a class="navbar-item" href="{% url 'plantaE_homeger'%}">Inicio</a>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            Cosecha
                        </a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item" href="{% url 'reporte_tabla_pivote'%}">Kilosxm2</a>
                            <a class="navbar-item" href="{% url 'dashboard_acumfruta'%}">Grafico - Producción</a>
                            <a class="navbar-item" href="{% url 'dashboard_acumfrutakgxm2'%}">Grafico - Proyecciones</a>
                            <a class="navbar-item" href="{% url 'salidasFruta_aprovechamietosger'%}">Aprovechamientos</a>
                        </div>
                    </div>

                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            Trazabilidad
                        </a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item" href="{% url 'boletasFruta_reporterecepcion'%}">Balance</a>
                            <a class="navbar-item" href="{% url 'boletasFruta_reportetraza'%}">Trazabilidad - Envios (Local)</a>
                            <a class="navbar-item" href="{% url 'boletasFruta_reportetrazaexpo'%}">Trazabilidad - Palets (Exportación)</a>
                            <a class="navbar-item" href="{% url 'boletasFruta_trazarecepcion'%}">Trazabilidad - Recepcioes</a>
                        
                        </div>
                    </div>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            Empacado
                        </a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item" href="inventarioProd_inventariogeneraleger">Inventario</a>
                            <a class="navbar-item" href="">Contenedores</a>
                            <a class="navbar-item" href="">Mermas</a>
                            <a class="navbar-item" href="">Kilos-exportados</a>
                        </div>
                    </div>
                    <a class="navbar-item" href="#">Sobre Nosotros</a>

                    
    
                    <a class="navbar-item" href="#">Contacto</a>
                </div>
            </div>
        </nav>

    {% else %}
        <p class="texto-con-margen">Bienvenido, por favor identifiquese <a href="{%url 'login'%}">Login</a></p>
    {% endif %}
    {% block parrafo %} 
    <p>Párrafo 1.</p>
    <p>Párrafo 2.</p>
     {% endblock %}
     {% block content %} 
     {% endblock %}
     <footer class="footer">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <p class="has-text-centered">
                        © 2024 Semillas del Campo SA. Todos los derechos reservados.
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
                // Manejo del menú hamburguesa en dispositivos móviles
                const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
    
                if ($navbarBurgers.length > 0) {
                    $navbarBurgers.forEach(el => {
                        el.addEventListener('click', () => {
                            const target = el.dataset.target;
                            const $target = document.getElementById(target);
                            el.classList.toggle('is-active');
                            $target.classList.toggle('is-active');
                        });
                    });
                }
    
                // Manejo de los submenús
                const dropdownItems = document.querySelectorAll('.navbar-item.has-dropdown');
    
                dropdownItems.forEach(item => {
                    item.addEventListener('click', (e) => {
                        e.stopPropagation(); // Evita que el clic se propague a otros elementos
                        const dropdown = item.querySelector('.navbar-dropdown');
                        item.classList.toggle('is-active');
                        dropdown.classList.toggle('is-active'); // Alterna la visibilidad del submenú
                        console.log(dropdown.classList);
                    });
    
                });
    
                // Cierra los submenús si se hace clic fuera de ellos
                document.addEventListener('click', () => {
                    dropdownItems.forEach(item => {
                        const dropdown = item.querySelector('.navbar-dropdown');
                        item.classList.remove('is-active');
                        dropdown.classList.remove('is-active');
    
                    });
                });
            });
    
    </script>
    
    {% block script %}  {% endblock %}
</body>
</html>