
{% extends "base/base.html" %}
{% load static %}
{% block style %}
{% endblock %}
{% block title %}{% endblock %}
{% block enc %}{% endblock %}
{% block parrafo %}{% endblock %}

{% block content %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="{% static '/main.css' %}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<style>

    .image-container {
        text-align: center;
    }

    .image-container img {
        max-width: 100%; /* Opcional: asegura que la imagen no se desborde del contenedor */
        height: auto; /* Opcional: mantiene la proporción de la imagen */
    }

    .text-left {
        text-align: left;
    }

    .footer {
            background-color: #f5f5f5;
            padding: 1.5rem 0;
        }

    .texto-con-margen {
        margin: 20px; /* Aplica un margen de 20px alrededor del párrafo */
    }

    .text-right {
        text-align: right; /* Alinea el texto a la derecha */
        padding-right: 20px; /* Agrega espacio interno a la derecha */
        width: 100%; /* Ancho del contenedor para ver el efecto del margen */
    }

    .dropdown-content {
        margin-left: 20px;
        border-radius: 8px;
    }
    .dropdown-item:hover {
        background-color: #f5f5f5;
    }
    
    .custom-navbar {
        background-color: #4a90e2; /* Azul personalizado */
    }
</style>

<h2 class="title"><p class="texto-con-margen">Semillas del Campo, S.A.</p></h2>
<h2 class="subtitle"><p class="texto-con-margen">¡Gestiona el control de ingresos y salidas del personal!</p></h2>
<body>

    {% if user.is_authenticated %}
        <div class="text-right">
            <p>Bienvenido, <b>{{user.username}} | <a href="{% url 'logout'%}">Logaut</a></b></p>
            <br>
        </div>

        <nav class="navbar is-success">

            <div class="navbar-brand">
                <a class="navbar-item" href="{% url 'homepage'%}">
                    <strong>Mi Sitio</strong>
                </a>
            </div>
    
            <div id="navbarMenu" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="{% url 'reconocimientof'%}">Panel</a>
                    <a class="navbar-item" href="#">Sobre Nosotros</a>
    
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            Consultas
                        </a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item" href="#">Convencional</a>
                            <a class="navbar-item" href="#">Descriptivo</a>
                        </div>
                    </div>
    
                    <a class="navbar-item" href="#">Contacto</a>
                </div>
            </div>
        </nav>

    {% else %}
        <p class="texto-con-margen">Bienvenido, por favor identifiquese <a href="{%url 'login'%}">Login</a></p>
    {% endif %}


<br>
<br>
<br>

<div class="image-container">
    <img src="{% static 'img/ccippp.jpg' %}"class="photo" alt="Portada" width="340" height="680">
</div>
<footer class="footer">
    <div class="container">
        <div class="columns">
            <div class="column">
                <p class="has-text-centered">
                    © 2024 Semillas del Campo SA. Todos los derechos reservados.
                </p>
            </div>
        </div>
    </div>
</footer>
</body>
{% endblock %}
{% block script %}{% endblock %}