
{% extends "base/base.html" %}
{% load static %}
{% block style %}
{% endblock %}
{% block title %}{% endblock %}
{% block enc %}{% endblock %}
{% block parrafo %}{% endblock %}

{% block content %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="{% static '/main.css' %}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<style>
    
    .text-left {
        text-align: left;
    }

    .footer {
            background-color: #f5f5f5;
            padding: 1.5rem 0;
        }

    .texto-con-margen {
        margin: 20px; /* Aplica un margen de 20px alrededor del párrafo */
    }

    
</style>

<h2 class="title"><p class="texto-con-margen">Semillas del Campo, S.A.</p></h2>
<h2 class="subtitle"><p class="texto-con-margen">¡Gestiona el control de ingresos y salidas del personal!</p></h2>
<div>
    {% if user.is_authenticated %}
        <p class="text-left">Bienvenido, <b>{{user.username}} | <a href="{% url 'logout'%}">Logaut</a></b></p>
        <br>
        <div id="header">
            <ul class="nav">
                <li><a href="">Consultas</a></li>
                <li><a href="">Pedidos</a>
                    <ul>
                        <li><a href="{% url 'iniciar_pedido_conv_carrito'%}">Convencional</a></li>
                        <li><a href="{% url 'iniciar_pedido_conv_panel'%}">Masivo</a></li>
                        <li><a href="">Distribucion</a></li>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    {% else %}
        <p class="texto-con-margen">Bienvenido, por favor <a href="{%url 'login'%}">Login</a></p>
    {% endif %}

</div>

<br>
<br>
<br>
<div id="navegacion">
    <p class="texto-con-margen"><a href="{% url 'homepage'%}">Home</a></p>

</div>
<body>
<footer class="footer">
    <div class="container">
        <div class="columns">
            <div class="column">
                <p class="has-text-centered">
                    © 2024 Semillas del Campo SA. Todos los derechos reservados.
                </p>
            </div>
        </div>
    </div>
</footer>
</body>
{% endblock %}
{% block script %}{% endblock %}