{% extends "base/base.html" %}
{% load static %}
{% block style %}{% endblock %}
{% block title %}Registro{% endblock %}
{% block enc %}Panel{% endblock %}
{% block parrafo %}Bienvenido al sistema de registro de Semillas del Campo SA.{% endblock %}
{% block content %}
<head>

<meta charset= "UTF-8">
<meta name= "viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

<meta http-equiv="X-UA-Compatible" content="IE=edge"> 

</head>

<style>
    .form-group {
        display: flex;
        gap: 10px; /* Espacio entre los inputs */
    }

    .form-group input {
        flex: 1; /* Hace que los inputs se expandan para ocupar el espacio disponible */
    }
</style>

<h2 class="subtitle">Reconocimiento Facial:</h2> 
<div class="columns"> 

    <div class="column is-half"> 
        <div class="container">
            <div class="form-group">
                <div class="column is-one-third">
                    <div class="control"> 
                        <form>
                            <div>
                                <label for="fecha">Fecha:</label>
                                <input class="input" id="date" type="date" value={{fecha}}>
                            </div>
                        </form>      
                    </div>
                </div>
                <div class="column is-one-third">
                    <div class="select"> 
                        <select name="Lugar" id="Lug">
                            <option value="a">Valle</option>
                            <option value="b">Rio</option>
                            <option value="c">Planta</option>
                            <option value="d">San Lorenzo</option>
                        </select>
                    </div>
                </div>

                <div class="column is-one-third">
                    <div class="select"> 
                        <select name="Evento" id="ev">
                            <option value="e">Entrada</option>
                            <option value="f">Salida</option>
                        </select>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="column is-one-twice"> 
            Usuario: <input class="input" id = "id" type= "text" value = {{user.username}} readonly >
        </div>
        <div class="column is-one-twice">
            Contador: <input class="input" id = "id2" type= "text" value = {{total}} readonly >
        </div>
    </div>
    
</div>

<section class="cam-container">
	<div><button class="start-btn">Registrar</button></div>
	<div class="video-wrap"><video class="video"></video></div>
	<div class="canvas-wrap"><canvas class="canvas" width="420" height="340"><img src="" class="photo" alt="photo"/></canvas></div>

</section>

<script type="text/javascript" src="{% static '/lib/cockies.js' %}"></script>
<script language="JavaScript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static '/lib/cam.js' %}"></script>

{% endblock %}
