{% extends "base/base.html" %}
{% load static %}
{% block style %}{% endblock %}
{% block title %}Registro{% endblock %}
{% block enc %}Panel{% endblock %}
{% block parrafo %}Bienvenido al sistema de registro de Semillas del Campo SA.{% endblock %}
{% block content %}
<head>
<link  rel="stylesheet" href="/var/www/html/assets/css/bulma-0.9.3/css/bulma.min.css">
<meta charset= "UTF-8">
<meta name= "viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge"> 

</head>
<p>{{total}}/{{p}}</p>

<h2>Reconocimiento Facial:</h2> 
<input id="date" type="date" value={{fecha}}>
Usuario: <input id = "id" type= "text" value = {{user.username}} readonly >
<select name="Lugar" id="Lug">
    <option value="a">Valle</option>
    <option value="b">Rio</option>
    <option value="c">Planta</option>
    <option value="d">San Lorenzo</option>
</select>
<select name="Evento" id="ev">
    <option value="e">Entrada</option>
    <option value="f">Salida</option>
</select>

<section class="cam-container">
	<div><button class="start-btn">Registrar</button></div>
	<div class="video-wrap"><video class="video"></video></div>
	<div class="canvas-wrap"><canvas class="canvas" width="420" height="340"><img src="" class="photo" alt="photo"/></canvas></div>
	
</section>
<script type="text/javascript" src="{% static '/lib/cockies.js' %}"></script>
<script language="JavaScript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static '/lib/cam.js' %}"></script>

{% endblock %}
