{% extends "base/base.html" %}
{% load static %}
{% block style %}{% endblock %}
{% block title %}{% endblock %}
{% block enc %}{% endblock %}
{% block parrafo %}{% endblock %}
{% block content %}

<link href="{% static '/style_consultaregistro.css' %}" rel="stylesheet" type="text/css" >
<h2 class="title"><p class="texto-con-margen">Registro de ingresos</p></h2>
<h2 class="subtitle"><p class="texto-con-margen">¡Revisa el control de ingresos y salidas del personal!</p></h2>

<div class="container">

  <p class="texto-con-margen"> Usuario: </p>
  <input class="input" id="id" type="text" value={{user.username}} readonly>
  
  &emsp;&emsp;
  <p class="texto-con-margen"> Fecha: </p>
  <input class="input" id="date" type="date" value={{fecha}}>

  <br>

</div>  


<br>

<div class="box01">
  <div class="box02"><input type="text" id="myInput" onkeyup="myFunction()" placeholder="Buscar por código..."></div>&emsp;
  <div class="box03"><input type="text" id="myInput2" onkeyup="myFunction2()" placeholder="Buscar por nombre..."></div>&emsp;
  <div class="box04"><input type="text" id="myInput5" onkeyup="myFunction5()" placeholder="Buscar origen..."></div>&emsp;
  <div class="box05"><input type="text" id="myInput6" onkeyup="myFunction6()" placeholder="Buscar por evento..."></div>
</div>

<br>

<div id="taula">
  <table id="myTable">
    <thead id = "enc1">
      <tr class="header">
        <th style="width:100px;">Código</th>
        <th style="width:400px;">Nombre</th>
        <th style="width:100px;">DateTime</th>
        <th style="width:50px;">Fecha</th>
        <th style="width:50px;">Origen</th>
        <th style="width:50px;">Evento</th>
      </tr>
    </thead>
    <tbody>
    {%for registro in registros %} 
     <tr> 
        <td>{{registro.codigop}}</td>
        <td>{{registro.nombrep}}</td>
        <td>{{registro.marcat}}</td>
        <td>{{registro.fecha}}</td>
        <td>{{registro.origen}}</td>
        <td>{{registro.evento}}</td>
      </tr> 
             
    {% endfor %}
    </tbody>
    
  </table>
</div>

<script type="text/javascript" src="{% static '/lib/cockies.js' %}"></script>
<script language="JavaScript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static '/lib/pconvencional.js' %}"></script>

{% endblock %}
