{% extends "base/base.html" %}
{% load static %}
{% block style %}{% endblock %}
{% block title %}Inicio{% endblock %}
{% block enc %}Inicio{% endblock %}
{% block parrafo %}Reporte de ingresos{% endblock %}
{% block content %}

<link href="{% static '/style_pconvencional.css' %}" rel="stylesheet" type="text/css" >


<h2>Este es el contenido:</h2> 

<div>


  &emsp;&emsp;

  Usuario: <input id="id" type="text" value={{user.username}}>
  
  &emsp;&emsp;

  <input id="date" onkeyup="myFunction5()" type="date" value={{fecha}}>

  <br>

</div>  


<br>

<div class="box01">
  <div class="box02"><input type="text" id="myInput" onkeyup="myFunction()" placeholder="Buscar por código..."></div>
  <div class="box03"><input type="text" id="myInput2" onkeyup="myFunction2()" placeholder="Buscar por nombre..."></div>
</div>

<br>

<div id="taula">
  <table id="myTable">
    <thead id = "enc1">
      <tr class="header">
        <th style="width:100px;">Código</th>
        <th style="width:400px;">Nombre</th>
        <th style="width:100px;">DateTime</th>
        <th style="width:50px;">Fecha</th>
        <th style="width:50px;">Origen</th>
        <th style="width:50px;">Evento</th>
      </tr>
    </thead>
    <tbody>
    {%for registro in registros %}
      <tr>
        <td>{{registro.codigoP}}</td>
        <td>{{registro.nombreP}}</td>
        <td>{{registro.marcaT}}</td>
        <td>{{registro.fecha}}</td>
        <td>{{registro.origen}}</td>
        <td>{{registro.evento}}</td>
      </tr>
             
    {% endfor %}
    </tbody>
    
  </table>
</div>
<br>
<br>

<input type="button" value="Enviar" class="envio3">

<script language="JavaScript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static '/lib/pconvencional.js' %}"></script>

{% endblock %}