<!DOCTYPE html>
<html>
<head>
    <title>Visualizar Detalles de Flores</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css">
    <style>

        h1 {
            margin: 15px;
            font-family: Arial, sans-serif;
        }

        a {
            margin: 20px;
            font-family: Arial, sans-serif;
        }

    </style>
</head>
<body>
    <h1 class="roboto">Detalles</h1>
    <div class="container">
        <div class="columns">
            <div class="column is-12">
                <div class="table-container">
                    <table class="table is-striped is-hoverable is is-fullwidth" id="myTable">
                        <tbody>
                            <tr><td>Registro:</td><td>{{ registros.id }} </td></tr>
                            <tr><td>Supervisor:</td><td>{{ registros.supervisor_name }} </td></tr> 
                            <tr><td>Operario:</td><td>{{ registros.operario_name }} </td></tr> 
                            <tr><td>Ubicacion:</td><td>{{ registros.ubicacion_lote }} </td></tr>
                            <tr><td>Estructura:</td><td>{{ registros.estructura }} </td></tr>
                            <tr><td>Apodo-Variedad:</td><td>{{ registros.apodo_variedad }} </td></tr> 
                            <tr><td>Cultivo:</td><td>{{ registros.tipo_cultivo }} </td></tr> 
                            <tr><td>Cajas-Revisadas:</td><td>{{ registros.cajas_revisadas}} </td></tr>
                            <tr><td>Frutos-Autopolinizados:</td><td>{{ registros.frutos_autopol}} </td></tr>
                            <tr><td>Frutos-Sin Marca:</td><td>{{ registros.frutos_sinmarca}} </td></tr>
                            <tr><td>Frutos-Sin Lana:</td><td>{{ registros.frutos_sinlana}} </td></tr>
                            <tr><td>Frutos-Fuera Tipo:</td><td>{{ registros.frutos_fueratipo}} </td></tr>
                            <tr><td>Llenado de caja:</td><td>{{ registros.llenado_caja}} </td></tr>
                            <tr><td>Punto de maduración:</td><td>{{ registros.punto_maduracion}} </td></tr>
                            <tr><td>Fecha:</td><td>{{ registros.fecha }} </td></tr>
                            <tr><td>Status:</td><td>{{ registros.status}} </td></tr>
                            <tr><td>Observaciones:</td><td>{{ registros.observaciones }} </td></tr>
                            <tr><td>Creado:</td><td>{{ registros.created }} </td></tr> 
                            <tr><td>Modificado:</td><td>{{ registros.updated_at }} </td></tr>  
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <a href="{% url 'controlcosecha_list' %}">Regresar a panel</a>

    
    
</body>
</html>