<!DOCTYPE html>
<html>
<head>
    <title>Visualizar Resumen de Lote</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css">
    <style>

        h1 {
            margin: 15px;
            font-family: Arial, sans-serif;
        }

        a {
            margin: 20px;
            font-family: Arial, sans-serif;
        }

    </style>
</head>
<body>
    <h1 class="roboto">Detalles</h1>
    <div class="container">
        <div class="columns">
            <div class="column is-12">
                <div class="table-container">
                    <table class="table is-striped is-hoverable is is-fullwidth" id="myTable">
                        <tbody>
                            <tr><td>Registro:</td><td>{{ registros.id }} </td></tr>
                            <tr><td>Supervisor:</td><td>{{ registros.supervisor_name }} </td></tr> 
                            <tr><td>Operario:</td><td>{{ registros.operario_name }} </td></tr> 
                            <tr><td>Ubicacion:</td><td>{{ registros.ubicacion_lote }} </td></tr>
                            <tr><td>Estructura:</td><td>{{ registros.estructura }} </td></tr>
                            <tr><td>Apodo-Variedad:</td><td>{{ registros.apodo_variedad }} </td></tr> 
                            <tr><td>Cultivo:</td><td>{{ registros.tipo_cultivo }} </td></tr> 
                            
                            <tr><td>Cama 1:</td><td>{{ registros.cama1}} </td></tr>
                            <tr><td>Cama 2:</td><td>{{ registros.cama2}} </td></tr>
                            <tr><td>Cama 3:</td><td>{{ registros.cama3}} </td></tr>
                            <tr><td>Cama 4:</td><td>{{ registros.cama4}} </td></tr>
                            <tr><td>Cama 5:</td><td>{{ registros.cama5}} </td></tr>
                            <tr><td>Media:</td><td>{{ registros.media}} </td></tr>
                            <tr><td>Promedio - Area:</td><td>{{ registros.prom_area}} </td></tr>
                            <tr><td>Promedio - General:</td><td>{{ registros.prom_general}} </td></tr>
                            <tr><td>Fecha:</td><td>{{ registros.fecha }} </td></tr>
                            <tr><td>Status:</td><td>{{ registros.status}} </td></tr>
                            <tr><td>Observaciones:</td><td>{{ registros.observaciones }} </td></tr>
                            <tr><td>Creado:</td><td>{{ registros.created }} </td></tr> 
                            <tr><td>Modificado:</td><td>{{ registros.updated_at }} </td></tr>  
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <a href="{% url 'conteofrutosplan_list' %}">Regresar a panel</a>

    
    
</body>
</html>