<!DOCTYPE html>
<html>
<head>
    <title>Visualizar Resumen de Lote</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css">
    <style>

        h1 {
            margin: 15px;
            font-family: Arial, sans-serif;
        }

        a {
            margin: 20px;
            font-family: Arial, sans-serif;
        }

    </style>
</head>
<body>
    <h1 class="roboto">Detalles</h1>
    <div class="container">
        <div class="columns">
            <div class="column is-12">
                <div class="table-container">
                    <table class="table is-striped is-hoverable is is-fullwidth" id="myTable">
                    
                        <tbody>

                            <tr><td>Registro:</td><td>{{ registros.id }} </td></tr>
                            <tr><td>Lote:</td><td>{{ registros.lote_code }} </td></tr> 
                            <tr><td>Código Variedad:</td><td>{{ registros.variedad_code}} </td></tr> 
                            <tr><td>Nombre Variedad:</td><td>{{ registros.apodo_variedad }} </td></tr> 
                            <tr><td>Cultivo:</td><td>{{ registros.cultivo }} </td></tr> 
                            <tr><td>Ubicacion:</td><td>{{ registros.ubicacion }} </td></tr>
                            <tr><td>Estructura:</td><td>{{ registros.estructura }} </td></tr>
                            <tr><td>Plantas | Padre:</td><td>{{ registros.plantas_padre }} </td></tr>
                            <tr><td>Plantas | Madre:</td><td>{{ registros.plantas_madre}} </td></tr>
                            <tr><td>Harvest Code:</td><td>{{ registros.harvest_code }} </td></tr>
                            <tr><td>Status:</td><td>{{ registros.status }} </td></tr>
                            <tr><td>Fecha Siembra Madre:</td><td>{{ registros.siembra_madre}} </td></tr>
                            <tr><td>Metodo de Produccion:</td><td>{{ registros.metodo_prod}} </td></tr>
                            <tr><td>Shipment Hub:</td><td>{{ registros.shipment_hub}} </td></tr>
                            <tr><td>Target Nb of plants-Padre:</td><td>{{ registros.as_per_SDCMale}} </td></tr>
                            <tr><td>Target Nb of plants-Madre:</td><td>{{ registros.as_per_SDCFemale }} </td></tr>
                            <tr><td>Target:</td><td>{{ registros.target}} </td></tr>
                            <tr><td>Surface:</td><td>{{ registros.surface}} </td></tr>
                            <tr><td>Observaciones:</td><td>{{ registros.observaciones }} </td></tr>
                            <tr><td>Creado:</td><td>{{ registros.created }} </td></tr> 
                            <tr><td>Modificado:</td><td>{{ registros.updated_at }} </td></tr>  

                        </tbody>

                    </table>

                </div>
            </div>
        </div>
    </div>

    <a href="{% url 'lotes_list' %}">Regresar a panel</a>

    
    
</body>
</html>