<!DOCTYPE html>
<html>
<head>
    <title>Visualizar Detalles de Flores</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css">
    <style>

        h1 {
            margin: 15px;
            font-family: Arial, sans-serif;
        }

        a {
            margin: 20px;
            font-family: Arial, sans-serif;
        }

    </style>
</head>
<body>
    <h1 class="roboto">Detalles</h1>
    <div class="container">
        <div class="columns">
            <div class="column is-12">
                <div class="table-container">
                    <table class="table is-striped is-hoverable is is-fullwidth" id="myTable">
                        <tbody>
                            <tr><td>Registro:</td><td>{{ registros.id }} </td></tr> 
                            <tr><td>Cultivo:</td><td>{{ registros.tipo_cultivo }} </td></tr> 
                            <tr><td>Código-Variedad:</td><td>{{ registros.codigo_variedad }} </td></tr>
                            <tr><td>Apodo-Variedad:</td><td>{{ registros.apodo_variedad }} </td></tr>
                            <tr><td>Ubicacion:</td><td>{{ registros.ubicacion_lote }} </td></tr>
                            <tr><td>Estructura:</td><td>{{ registros.estructura }} </td></tr>
                            <tr><td>PL:</td><td>{{ registros.pl }} </td></tr>
                            <tr><td>Contrato:</td><td>{{ registros.contrato }} </td></tr>
                            <tr><td>Género:</td><td>{{ registros.genero }} </td></tr> 
                            <tr><td>Supervisor:</td><td>{{ registros.supervisor_name }} </td></tr>
                            <tr><td>Tipo de desinfección:</td><td>{{ registros.desinfecciondet }} </td></tr>
                            <tr><td>Fecha de envío UVG:</td><td>{{ registros.fechaenvio_uvg}} </td></tr>
                            <tr><td>Fecha de envío de semilla:</td><td>{{ registros.fechaenviosemilla }} </td></tr>
                            <tr><td>Separación lot split:</td><td>{{ registros.separacion_lot_semillas }} </td></tr>
                            <tr><td>Status:</td><td>{{ registros.statuslote }} </td></tr>
                            <tr><td>Supervisor:</td><td>{{ registros.supervisor_name }} </td></tr>
                            <tr><td>Observaciones:</td><td>{{ registros.observaciones }} </td></tr>
                            <tr><td>Creado:</td><td>{{ registros.created }} </td></tr> 
                            <tr><td>Modificado:</td><td>{{ registros.updated_at }} </td></tr>  
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <a href="{% url 'cosecha_list' %}">Regresar a panel</a>

    
    
</body>
</html>