<!DOCTYPE html>
<html>
<head>
    <title>Visualizar Detalles de Variedad</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css">
    <style>

        h1 {
            margin: 15px;
            font-family: Arial, sans-serif;
        }

        a {
            margin: 20px;
            font-family: Arial, sans-serif;
        }

    </style>
</head>
<body>
    <h1 class="roboto">Detalles</h1>
    <div class="container">
        <div class="columns">
            <div class="column is-12">
                <div class="table-container">
                    <table class="table is-striped is-hoverable is is-fullwidth" id="myTable">
                    
                        <tbody>
                            <tr><td>Registro:</td><td>{{ registros.id }} </td></tr>
                            <tr><td>Código Variedad:</td><td>{{ registros.variedad_code}} </td></tr> 
                            <tr><td>Apodo Variedad:</td><td>{{ registros.apodo_variedad }} </td></tr> 
                            <tr><td>Cultivo:</td><td>{{ registros.cultivo }} </td></tr> 
                            <tr><td>Código | Padre:</td><td>{{ registros.codigo_padre }} </td></tr>
                            <tr><td>Código | Madre:</td><td>{{ registros.codigo_madre}} </td></tr>
                            <tr><td>Status:</td><td>{{ registros.status }} </td></tr>
                            <tr><td>Creado:</td><td>{{ registros.created }} </td></tr> 
                            <tr><td>Modificado:</td><td>{{ registros.updated_at }} </td></tr>  
                        </tbody>

                    </table>

                </div>
            </div>
        </div>
    </div>

    <a href="{% url 'variedades_list' %}">Regresar a panel</a>

    
    
</body>
</html>