{% extends "mantenimiento/crud_delete_base.html" %}


{% block title %}

    Confirmar anulación de máquina

{% endblock %}


{% block encabezado %}

    Confirmar anulación de máquina

{% endblock %}


{% block descripcion %}

    Revisa la información de la máquina antes de continuar.

{% endblock %}


{% block pregunta %}

    ¿Está seguro de que desea anular la máquina

    <strong>
        {{ registros.nombre }}
    </strong>?

{% endblock %}


{% block boton_cancelar %}

    <a
        href="{% url 'maquinas_list' %}"
        class="btn btn-secondary"
    >

        <i class="fas fa-arrow-left"></i>

        Regresar

    </a>

{% endblock %}