{% extends "mantenimiento/crud_form_base.html" %}


{% block title %}

    {% if modo == "actualizar" %}
        Actualización de máquina
    {% else %}
        Nueva máquina
    {% endif %}

{% endblock %}


{% block encabezado %}

    {% if modo == "actualizar" %}
        Actualización de máquina
    {% else %}
        Nueva máquina
    {% endif %}

{% endblock %}


{% block descripcion %}

    {% if modo == "actualizar" %}
        Modifica la información de la máquina.
    {% else %}
        Completa la información para registrar una máquina.
    {% endif %}

{% endblock %}


{% block campos %}

    <!-- NOMBRE -->

    <div class="form-field">

        <label for="{{ form.nombre.id_for_label }}">
            Nombre
        </label>

        {{ form.nombre }}

    </div>


    <!-- TIPO -->

    <div class="form-field">

        <label for="{{ form.tipo.id_for_label }}">
            Tipo
        </label>

        {{ form.tipo }}

    </div>


    <!-- STATUS -->

    <div class="form-field">

        <label for="{{ form.status.id_for_label }}">
            Estado
        </label>

        {{ form.status }}

    </div>

{% endblock %}


{% block boton_regresar %}

    <a
        href="{% url 'maquinas_list' %}"
        class="btn btn-secondary"
    >
        ← Regresar
    </a>

{% endblock %}